<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Beling" connectionString="Data Source=10.17.31.61;Initial Catalog=Beling;Persist Security Info=True;User ID=sa;pwd=feis1001" providerName="NBear.Data.SqlServer.SqlDbProvider" />
   
  </connectionStrings>

</configuration>