<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--*************************************************************************-->
  <appSettings>
    <add key="X" value="880"/>
    <add key="Y" value="650"/>
    <add key="Version" value="1"/>
   
    <add key="Server" value="gtcp://10.17.31.60:1314"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;DLL;Dev;UI;Core;MIS"/>
    </assemblyBinding>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <userSettings>
    <Shell.Properties.Settings>
      <setting name="Client" serializeAs="String">
        <value>880</value>
      </setting>
    </Shell.Properties.Settings>
  </userSettings>
</configuration>
