<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
  </configSections>

  <log4net debug="false">
    <!--信息日志-->
    <appender name="InfoLoging" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log_info.txt"/>
      <!--file可以指定具体的路径 eg : d:\\test.log。不指定的话log被生成在项目的bin/Debug 或者 bin/Release目录下 （web的项目 默认生成在根目录下）-->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <!--备份log文件的个数最多10个-->
      <maximumFileSize value="2MB"/>
      <!--每个log文件最大是2M，如果超过2M将重新创建一个新的log文件，并将原来的log文件备份。-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--指定log的格式-->
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <!--警告,注意,通知日志-->
    <appender name="EventLoging" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log_event.txt"/>
      <!--file可以指定具体的路径 eg : d:\\test.log。不指定的话log被生成在项目的bin/Debug 或者 bin/Release目录下 （web的项目 默认生成在根目录下）-->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <!--备份log文件的个数最多10个-->
      <maximumFileSize value="2MB"/>
      <!--每个log文件最大是2M，如果超过2M将重新创建一个新的log文件，并将原来的log文件备份。-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--指定log的格式-->
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <!--错误日志-->
    <appender name="ErrorLoging" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log_error.txt"/>
      <!--file可以指定具体的路径 eg : d:\\test.log。不指定的话log被生成在项目的bin/Debug 或者 bin/Release目录下 （web的项目 默认生成在根目录下）-->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <!--备份log文件的个数最多10个-->
      <maximumFileSize value="2MB"/>
      <!--每个log文件最大是2M，如果超过2M将重新创建一个新的log文件，并将原来的log文件备份。-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--指定log的格式-->
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <!--指定将此级别及以上的log打印到log文件中-->
      <appender-ref ref="InfoLoging" />
      <appender-ref ref="EventLoging" />
      <appender-ref ref="ErrorLoging" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <!--<add name="IM" connectionString="workstation id=Server;packet size=4096;user id=sa;data source=10.20.46.23; persist security info=True;initial catalog=IM;password=@Sql2016" providerName="System.Data.SqlClient"/>-->
    <add name="IM" connectionString="workstation id=Server;packet size=4096;user id=sa;data source= 10.20.46.22; persist security info=True;initial catalog=IM;password=FepvXH1001" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="host" value="10.20.47.3"/>
    <add key="domain" value="fenc"/>
    <add key="port" value="587"/>
    <add key="user" value="eMES"/>
    <add key="pass" value="%e1234"/>
    <add key="from" value="eMES@fenc.vn"/>
    <add key="RestUrl" value="http://10.20.46.22:9999/default/bpm-rest-api/"/>
  </appSettings>

</configuration>